/*Components: anything reusable such as buttons,
navbars,
cards etc.*/

@import "base";

.header_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: .8em .75em;

    .left_top_header {
        padding-left: 0.5em;
        overflow-y: visible;

        .btn_nav {
            position: relative;
            min-width: 32px;
            margin-right: 0.75em;
            padding: .5em;
        }

        .logo {
            position: relative;
            display: inline-block;
            padding: .1em;
            background: url("../images/logo.svg")no-repeat;
            background-size: contain;
            background-position: left 35%;

            .invisible {
                opacity: 0;
            }
        }

        .main-nav {
            position: absolute;
            inset: 0%;
            z-index: 5;
            transform: translateX(-200%);
            width: 100%;
            height: 100%;
            background-color: $black;

            .main-nav__content_container {
                width: 70%;
                height: 100%;
                transform: translateX(-100%);
                z-index: 5;
                background-color: $white;
                transition: transfrom .5s ease-in-out;
                overflow: visible;

                .main-nav__close_btn {
                    padding: .5em;
                    margin: 1.5em 0 0 1em;

                    .icon icon_close {
                        mask-image: url("../images/icon-close.svg");
                        min-width: 17px;
                        min-height: 17px;
                    }
                }

                .main-nav__links {
                    margin-top: 1em;
                    padding-left: .5em;
                    list-style: none;

                    .nav_item {
                        position: relative;
                        display: inline-block;
                        padding: .75em 1em;
                        text-decoration: none;
                        color: $black;
                        font-weight: 700;
                        font-size: 1.10rem;
                    }
                }
            }
        }
    }

    .right_top_header {
        padding-right: .5em;

        .btn_cart__top_header {
            position: relative;
            margin-right: 0.8em;

            .icon {
                display: inline-block;
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
                background-color: $dark-grayish-blue;
            }

            .icon_cart {
                mask-image: url("../images/icon-cart.svg");
                min-width: 22px;
                min-height: 22px;
            }

            .items_quantity {
                position: absolute;
                display: inline-block;
                top: -25%;
                right: -5%;
                z-index: 2;
                padding: .2em .75em;
                visibility: hidden;
                opacity: 0;
                border-radius: 50%;
                background-color: $orange;
                color: $white;
                font-size: .6rem;
                font-weight: 700;
                transition: visibility, opacity .3s ease-in;


            }

            .items_quantity.active {
                visibility: visible;
                opacity: 1;
            }
        }

        .user_container {
            min-width: 38px;

            img {
                width: 30px;
                border-radius: 50%;
            }
        }
    }



    .left_top_header,
    .right_top_header {
        display: flex;
        align-items: center;

    }

    .btn_nav,
    .user_container,
    .btn_cart__top_header,
    .main-nav__close_btn {
        border: none;
        outline: none;
        background: transparent;
    }

    .cart_section {
        display: none;
        position: absolute;
        top: 10%;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        z-index: 4;
        opacity: 0;
        width: 95%;
        min-width: 300px;
        max-width: 400px;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 15px 15px 5px rgba(0, 0, 0, .2);
        box-sizing: border-box;
        transition: opacity .3s ease-in-out;
    }
}